

<div class="super_container">
    <app-tophead [name]="nametophead"></app-tophead>
    <div class="container"  style=" margin-top: 20px;color: black;margin-left: -20px;">
  
      <br>
  
      <div class="row">
        <div class="col-md-6"><div style="text-align: left;padding: 10px;"><h3><b>THÔNG TIN CƠ BẢN</b></h3></div></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div placeholder="Nhập tên dự án">
                  <select (change)="onChangeStatus($event)" class="form-control form-control-lg" style="color: black;width:100%;height:40px">
                    <option *ngFor='let status of statuss' [value]="status.id">{{status.text}}</option>
                  </select>
  
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div  placeholder="Nhập tên dự án">
                  <select (change)="onClickSearchNewType($event)" class="form-control form-control-lg" style="color: black;;width:100%;height:40px">
                    <option *ngFor='let newTypes of newTypes'  [value]="newTypes.id">{{newTypes.name}}</option>
                  </select>
  
                </div>
            </div>
            </div>
            <div class="col-md-4">
              <button class="btn btn-warning" style="width:100%;height: 40px" [routerLink]="['/user/danh-muc']">Đăng tin mới</button>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top:20px">
  
      </div>
  
      <div class="col-md-12" style="padding-top: 0px;margin-left: -20px; ">
        <table class="table table-bordered" >
          <thead style="background-color:darkblue;color: white;">
            <tr>
              <th scope="col-md-1" class="font" style="color: white;">Đăng tin</th>
              <th scope="col-md-1" class="font" style="color: white;">Ảnh đại diện</th>
              <th scope="col" class="font" style="color: white;">Gía</th>
              <th scope="col" class="font" style="color: white;">Ngày bắt đầu</th>
              <th scope="col" class="font" style="color: white;">Ngày hết hạn</th>
              <th scope="col" class="font" style="color: white;">Trạng thái</th>
              <th scope="col" class="font" style="color: white; width: 180px;">Tiêu đề</th>
              <th scope="col" class="font" style="color: white; ">Gia hạn</th>
            </tr>
          </thead>
          <tbody style="color: black;">
            <tr *ngFor="let motel of motels | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
              <td style="text-align: center;">
                <button type="button" class="btn btn-danger btn-sm" *ngIf="checkStatus[i]"  (click)="openDialogUser(motel)">
                  <i class="fa fa-edit"></i>
                </button> 
                <button type="button" class="btn btn-danger btn-sm" *ngIf="!checkStatus[i]"  disabled>
                  <i class="fa fa-edit"></i>
                </button>   
              </td>
              <td><img *ngIf="motel.images[0].imageMotel!= null" [src]="motel.images[0].imageMotel" class="title-image" style="width:50px;height:50px;"></td>
              <td>{{motel.price}} {{motel.priceType}}</td>
              <td>{{motel.dateUpdate|date}}</td>
              <td>{{motel.dateDue|date}}</td>
              <td>{{motel.status}}</td>
              <td><textarea style="width:500px;height: 50px;border: none;">{{motel.title}}</textarea></td>
              <td style="text-align: center;">
                <button type="button" class="btn btn-danger btn-sm" *ngIf="!checkStatus[i]" (click)="openDialogExtend(motel)">
                  <i class="fa fa-edit"></i>
                </button> 
                <button type="button" class="btn btn-danger btn-sm" *ngIf="checkStatus[i]" disabled>
                  <i class="fa fa-edit"></i>
                </button>   
              </td>
            </tr>
          </tbody>
        </table>
        <DIV style="margin-left:470px;margin-top: 25PX;">
          <pagination-controls (pageChange)="page = $event" ></pagination-controls>
          </DIV>  
      </div>
  
    </div>
  </div>
  
  