


  <div class="super_container">
    <div class="offers">

      <!-- Search -->


      <div id="carouselId" style="margin-bottom: 0px;" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img style="width: 100%;height:500px" src="../../assets/images/bg_2.jpg">

            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
         <div class="carousel-item ">

            <img style="width: 100%;;height:500px" src="../../assets/images/bg_1.jpg">

            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
          <div class="carousel-item">

            <img style="width: 100%;;height:500px" src="../../assets/images/bg_1.jpg">

            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
        </div>

       <section class="ftco-booking" style="background-color: royalblue;">
       <div class="container" >
            <div class="row">
              <div class="col-md-12">

                <p style="text-align: center;width:1000px;margin-top: 250px;margin-bottom:50px;color:white;margin-left: 80px;font-size: 40px;">TÌM KIẾM NGÔI NHÀ TRONG MƠ CỦA BẠN</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-10" style="background-color: rgba(40,40,46,.6);" >
                <div class="tab-content" id="pills-tabContent" style="padding:10px">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="col-md-12" >
                      <div class="row">
                        <div class="col-md-12" style="margin-left:15px;">
                          <div class="search-field d-none d-md-block" >

                            <form class="d-flex align-items-center h-100" style="margin-top: 30px;width: 800px;margin-left: 50px;" action="#">
                              <div class="input-group" style="color: black;background-color: white;border-radius: 2px;">
                                <div class="input-group-prepend bg-transparent">
                                  <i class="input-group-text border-0 mdi mdi-magnify" style="color: black; background-color: white;"></i>
                                </div>
                                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                 class="form-control bg-transparent border-0" placeholder="Tìm kiếm theo thành phố" (keyup)="onKeyUp($event)" style="padding-right: 20px;">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                                  <mat-option *ngFor="let option of filteredOptions | async;let i=index" [value]="option" > 
                                    <div >{{option.name}}</div>
                                  </mat-option>
                                </mat-autocomplete>
                              </div>

                              <div>
                                <button type="button" (click)="getMotelSearch()" class="btn btn-primary" style="background-color: rgb(51, 175, 99); color: white;height: 48px;">Tìm kiếm</button>
                              </div>
                            </form>
                            
                          </div>
                        </div>

                        <div class="col-md-12 col-sm-12 row" style="margin-top: 20px;margin-left:0px;margin-left: 50px;">
                          <div class="btn-group col-md-8 col-sm-4" >
                            <nav class=" navbar-expand-lg navbar-light" style="float: right; ">
                              <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                  <li class="nav-item active" style="margin: 10px;">
                                    <a *ngIf="city else elseDefferentCity" class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">{{city.name}}<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a>
                                    <ng-template #elseDefferentCity><a class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">Thành phố<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a></ng-template>
                                    <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="margin-top:5px;position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                      <div *ngFor="let cities of cities" >
                                        <a class="dropdown-item" (click)="onClickCity(cities)"  [value]="cities.id">{{cities.name}}</a>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="nav-item active" style="margin: 10px;">
                                    <a *ngIf="province else elseDefferentProvince" class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">{{province.name}}<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a>
                                    <ng-template #elseDefferentProvince><a class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">Tỉnh thành<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a></ng-template>
                                    <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="margin-top:5px;position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                      <div *ngFor="let provinces of provinces">
                                        <a class="dropdown-item" (click)="onClickProvince(provinces)" [value]="provinces.id">{{provinces.name}}</a>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="nav-item active" style="margin: 10px;">
                                    <a *ngIf="newType else elseDefferentNewType" class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">{{newType}}<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a>
                                    <ng-template #elseDefferentNewType><a class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">Loại nhà trọ<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a></ng-template>
                                    <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 10px; left: 0px; will-change: transform;">
                                      <div *ngFor="let newTypes of newTypes">
                                        <a class="dropdown-item" (click)="onClickNewType($event)" [value]="newTypes.id">{{newTypes.name}}</a>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="nav-item active" style="margin: 10px;">
                                    <a *ngIf="priceSearch else elseDefferentPriceSearch" class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">{{priceSearch}}<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a>
                                    <ng-template #elseDefferentPriceSearch><a href="#" class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">Tìm kiếm theo giá<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a></ng-template>
                                    <div class="dropdown-menu scrollable-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 10px; left: 0px; will-change: transform;">
                                      <div *ngFor="let priceSearchs of priceSearchs">
                                        <a class="dropdown-item" (click)="onClickPrice(priceSearchs)" [value]="priceSearchs.id">{{priceSearchs.numberOne}} {{priceSearchs.typePriceOne}} - {{priceSearchs.numberTwo}} {{priceSearchs.typePriceTwo}}</a>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </nav>
                          </div>
                          <div class="col-md-2 col-sm-4">
                          </div>
                          <!-- <div class="col-md-2 col-sm-4" style="padding-left: 40px;"  >
                            <button type="button" (click)="getMotelSearch()" class="btn btn-primary" style="background-color: red; color: white;"><div style="float: left;margin-top:0px;margin-right: 5px;"class="fa fa-search" ></div><span style="text-align: center;">Tìm kiếm</span></button>
                          </div> -->
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


       </div>
        </section>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container" style="padding-top:10px">
        <h6 class="font" style="color: black;font-size: 22px;">Khám phá khu vực</h6>
        <div class="row" style="color:black;padding-top: 20px;margin-bottom: 20px;">
          <div class="col-md-6">
            <div style="background-image: url(https://cloud.mogi.vn/review/districts/ho-chi-minh-home.jpg);height: 160px;width: 550px; border-radius: 20px;padding-top: 10px;">
            <div style="padding:0px 20px 15px 15px ;">
            <a style="color:black;font-size:15px;margin-top: 5px;" >Khám phá khu vực ở</a>
            <h4 class="font" style="color: black;">TPHCM</h4></div>
            <p style="color: white;float:right;padding-top: 35px;padding-right: 20px;">Xem thêm <i (click)="onClickSeeMoreHCM()" class="fa fa-chevron-right"></i></p>
            </div>
          </div>
          <div class="col-md-6">
            <div style="background-image: url(https://cloud.mogi.vn/review/districts/ho-chi-minh-home.jpg);height: 160px;width: 550px; border-radius: 20px;padding-top: 10px;">
              <div style="padding:0px 20px 15px 15px ;">
                <a style="color:black;font-size:15px;margin-top: 5px;" >Khám phá khu vực ở</a>
                <h4 class="font" style="color: black;">Hà Nội</h4></div>
              <p style="color: white;float:right;padding-top: 35px;padding-right: 20px;">Xem thêm <i (click)="onClickSeeMoreHN()" class="fa fa-chevron-right"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="container " style="margin-top: 20px;">
        <h6 class="font" style="color: black;font-size: 22px;">Tin nổi bật </h6>
      </div>

      <!-- Offers -->

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Offers Grid -->
            <div class="row">
              <div class="col-md-9">
                <div class="offers_grid">
                  <!-- Offers Item -->
                  <ng-container *ngFor= 'let motel of motelhighlights; let i=index' >
                    <div class="offers_item rating_4" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);border-radius: 10px;">
                    <div class="row" >
                      <div class="col-lg-4">
                        <div class="offers_image_container" style="height: 270px;margin-left: 15px;margin-top: 10px;">
                          <!-- Image by https://unsplash.com/@kensuarez -->
                          <div class="offers_image_background" style="border-radius: 10px;" [style.background-image]="'url(\'' + motel.images[0].imageMotel + '\')'"></div>
                          <div class="offer_name"><a style="background-color:red;" href="single_listing.html">{{displayType(motel.typeservice)}}</a></div>
                        </div>
                      </div>
    
                      <div class="col-lg-8">
                        <div class="col-md-12"> 
                          <p class="test2" (click)="linkRouter(motel.title, motel.id)">{{motel.title}}</p>
                          <p class="test1">{{motel.address}}</p>
                          <hr>
                          <div class="container" style="margin-left: -15px;margin-top: 25px;">
                            <div class="row">
                              <div class="col-md-6">
                                <p style="margin-right: 50px;color: black;"><i class="fa fa-cubes" style="margin-right: 15px;margin-bottom: 10px;"></i><b>Diện tích:</b><span style="margin-left:10px ;">{{motel.areaZone}} {{motel.areaZoneType}}</span>  </p>
                                <p style="margin-right: 50px;color: black;"><i class="fa fa-bath" style="margin-right: 15px;"></i><b>Giá:</b><span style="margin-left:10px ;">{{motel.price}} {{motel.priceType}}</span>  </p>
                              </div>
                              <div class="col-md-6">
                                <p style="margin-right: 50px;color: black;"><i class="fa fa-bed" style="margin-right: 15px;margin-bottom: 10px;"></i><b>Phòng ngủ:</b><span style="margin-left:10px ;">{{motel.detail.numberLiving}}</span>  </p>
                                <p style="margin-right: 50px;color: black;"><i class="fa fa-bath" style="margin-right: 15px;"></i><b>Phòng tắm:</b><span style="margin-left:10px ;">{{motel.detail.numberBath}}</span>  </p>
                              </div>
                            </div>
                          </div>
                          <div style="margin-top:70px;">
                          <p style="float: left;font-size: 15px;color: black;">Ngày đăng: {{motel.dateUpdate | date}}</p>
                          <p style="float: right;color: green;margin-right: 10px"><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;margin-right: 15px;"><p class="test3" style="margin-left: 20px;margin-top: -24px;">{{motel.phone}}</p></b></p>
                          </div>
                        </div>
                    
                      </div>
                    </div>
                    </div>
                    <div style="padding-bottom: 25px;"></div>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-3" style="margin-top: 20px">
                <div style="background-image: url(../../assets/images/image_4.jpg) ;height: 400px;width: 100%;"></div>
                
                  <!-- <ul style="padding:20px;padding-top: 10px;" class="font" >
                    <li *ngFor='let type of counttypes; let i=index' [value]="type.id" style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;">{{type.typeofnews}}({{type.count}})</span></div></li>
                  </ul> -->
                <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
                  <div style="margin-top:20px;margin-left: 20px;margin-right: 20px;"><b>Loại nhà trọ</b></div>
                  <ul style="padding:20px;padding-top: 10px;">
                    <li class="font" *ngFor="let newTypes of newTypes; let i=index" style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" [value]="newTypes.id" style="margin-left: 30px;font-size: 20xp;font-weight: initial;" (click)="onChoceTypes(newTypes)">{{newTypes.name}} ({{counttypes[i].count}})</span></div></li>
                    <!-- <li class="font" *ngFor='let type of counttypes; let i=index' [value]="type.id" style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" style="margin-left: 30px;font-size: 20xp;font-weight: initial;" (click)="onClickNewType($event); getMotelSearch()">{{type.typeofnews}} ({{type.count}})</span></div></li> -->
                  </ul>
                </div>
                <div style="border: 1px solid gray;margin-top:20px ;border-radius: 5px;" >
                  <div style="margin-top:20px;margin-left: 20px;margin-right: 20px;"><b>Các mức giá</b></div>
                  <ul style="padding:20px;padding-top: 10px;">
                    <li class="font" *ngFor="let priceSearchs of priceSearchs" style="color: black;margin-bottom: 5px;"><div class="fa fa-chevron-circle-right"><span class="font" [value]="priceSearchs.id" style="margin-left: 30px;font-size: 20xp;font-weight: initial;" (click)="onChocePrices(priceSearchs)">{{priceSearchs.numberOne}} {{priceSearchs.typePriceOne}} - {{priceSearchs.numberTwo}} {{priceSearchs.typePriceTwo}}</span></div></li>
                  </ul>
                </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
  </div>
<!--trending-->
<div class="container-fluid body" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-12">
      <h2><b>Tìm kiếm nhà trọ mới nhất </b></h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for carousel items -->
      <div class=" carousel-inner" style="margin-top: 10px;">
        <div class="carousel-item active" > 
          <div class="row">
            <div class="col-md-1"></div>
            <ng-container  *ngFor= 'let motelnew of motelnews; let i=index' >
              <div class="col-md-2" *ngIf="i < 5 && i >=0" style="margin-bottom: 15px;">
                <div style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);border-radius: 5px;;border-radius: 10px;"  >
                    <div class="thumb-wrapper" style="text-align:start;" >
                      <div class="img-box1">
                        <img  [src]="motelnew.images[0].imageMotel" (click)="linkRouter(motelnew.title, motelnew.id)" class="img-fluid" alt="" style="height: 180px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                      </div>
                      <br>
                      <p class="chu" style="margin-left: 5px;" (click)="linkrouter(motelnew.title, motelnew.id)">{{motelnew.title}}</p>
                      <div class="property-attr " style="color: black;font-size: 14px;">
                        <span style="font-weight: bold;margin-left: 5px;" class="land">{{motelnew.areaZone}} {{motelnew.areaZoneType}}</span>
                        <span style="margin-left:15px">{{motelnew.detail.numberLiving}} PN {{motelnew.detail.numberBath}} WC</span>
                      </div>
                      <p class="price" style="margin-left: 5px;">{{motelnew.price}} {{motelnew.priceType}}</p>
                      <div style="height: 20px;"></div>
                    </div>
                  </div>
                  
                </div>
            </ng-container>
            <div class="col-md-1"></div>
        </div>
        </div>
        <div class="carousel-item" >
          <div class="row">
            <div class="col-md-1"></div>
            <ng-container  *ngFor= 'let motelnew of motelnews; let i=index' >
              <div class="col-md-2" *ngIf="i < 10 && i >=5" style="margin-bottom: 15px;">
                <div style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);border-radius: 5px;;border-radius: 10px;"  >
                    <div class="thumb-wrapper" style="text-align:start;" >
                      <div class="img-box1">
                        <img  [src]="motelnew.images[0].imageMotel" (click)="linkRouter(motelnew.title, motelnew.id)" class="img-fluid" alt="" style="height: 180px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                      </div>
                      <br>
                      <p class="chu" style="margin-left: 5px;" (click)="linkrouter(motelnew.title, motelnew.id)">{{motelnew.title}}</p>
                      <div class="property-attr " style="color: black;font-size: 14px;">
                        <span style="font-weight: bold;margin-left: 5px;" class="land">{{motelnew.areaZone}} {{motelnew.areaZoneType}}</span>
                        <span style="margin-left:15px">{{motelnew.detail.numberLiving}} PN {{motelnew.detail.numberBath}} WC</span>
                      </div>
                      <p class="price" style="margin-left: 5px;">{{motelnew.price}} {{motelnew.priceType}}</p>
                      <div style="height: 20px;"></div>
                    </div>
                  </div>
                  
                </div>
            </ng-container>
            <div class="col-md-1"></div>
        </div>
        </div>
        <div class="carousel-item" >
          <div class="row">
            <div class="col-md-1"></div>
            <ng-container  *ngFor= 'let motelnew of motelnews; let i=index' >
              <div class="col-md-2" *ngIf="i < 15 && i >=10" style="margin-bottom: 15px;">
                <div style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);border-radius: 5px;;border-radius: 10px;"  >
                    <div class="thumb-wrapper" style="text-align:start;" >
                      <div class="img-box1">
                        <img  [src]="motelnew.images[0].imageMotel" (click)="linkRouter(motelnew.title, motelnew.id)" class="img-fluid" alt="" style="height: 180px;width: 100%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                      </div>
                      <br>
                      <p class="chu" style="margin-left: 5px;" (click)="linkrouter(motelnew.title, motelnew.id)">{{motelnew.title}}</p>
                      <div class="property-attr " style="color: black;font-size: 14px;">
                        <span style="font-weight: bold;margin-left: 5px;" class="land">{{motelnew.areaZone}} {{motelnew.areaZoneType}}</span>
                        <span style="margin-left:15px">{{motelnew.detail.numberLiving}} PN {{motelnew.detail.numberBath}} WC</span>
                      </div>
                      <p class="price" style="margin-left: 5px;">{{motelnew.price}} {{motelnew.priceType}}</p>
                      <div style="height: 20px;"></div>
                    </div>
                  </div>
                  
                </div>
            </ng-container>
            <div class="col-md-1"></div>
        </div>
        </div>

      </div>

      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" style="margin-left: -20px;">
        <i class="fa fa-angle-left" ></i>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next"style="margin-right: -20px;">
        <i class="fa fa-angle-right" ></i>
      </a>
    </div>
    </div>
  </div>
</div>
<!--contact-->



