

<div class="super_container">
    <app-tophead [name]="nametophead"></app-tophead>

    <div class="col-md-12" style="padding-top: 0px;margin-top: 30px; ">
        <table class="table table-bordered" >
          <thead style="background-color:darkblue;color: white;">
            <tr>
              <th scope="col-md-1" class="font" style="color: white;">Họ và tên</th>
              <th scope="col-md-1" class="font" style="color: white;">Số điện thoại</th>
              <th scope="col" class="font" style="color: white;">Email</th>
              <th scope="col" class="font" style="color: white;">Tin nhắn</th>
            </tr>
          </thead>
          <tbody style="color: black;">
            <tr *ngFor="let reply of reply | paginate: { itemsPerPage: 10, currentPage: page }">
              <td>{{reply.name}}</td>
              <td>{{reply.phone}}</td>
              <td>{{reply.email}}</td>
              <td>{{reply.decription}}</td>
            </tr>
          </tbody>
        </table>
  
        
    </div>
    <DIV style="margin-left:470px;margin-top: 25PX;">
    <pagination-controls (pageChange)="page = $event" ></pagination-controls>
    </DIV>  

</div>
  