

<div class="super_container" style="color: black;margin-left: -150px;">
  <div class="container-fluid" style="height: 50px;background-color: #C0C0C0;">
    <div style="padding-top:15px;"><span style="margin-left: 10px;">Motel <div class="fa  fa-chevron-right" style="margin-right: 15px;"></div> <b style="margin-right: 10px;">Trang đang tin</b> <div class="fa  fa-chevron-right"style="margin-right: 15px;"></div> <b>Thông tin cơ bản</b></span></div>
  </div>
  <div class="container"  style=" margin-top: 20px;color: black;padding:5px ;">
    <div style="text-align: center;"><h2 ><b style="font-size: 22px; color: black;">TRANG ĐĂNG TIN</b></h2></div>
    <!-- <i class="fa fa-angle-left" (click)="prevous()" aria-hidden="true" style="margin-right:20px;margin-bottom: 10px;"></i><b>Bước 1</b> -->

    <div>
      <button class="button" (click)="step1()" style="background-color: aqua;" >Bước 1</button>
      <button class="button" (click)="step2()">Bước 2</button>
      <button class="button"(click)="step3()">Bước 3</button>
      <button class="button"(click)="step4()">Bước 4</button>
    </div> 

    <div >
      <div class="container" style="margin-top:0px">
        <div class="row">
          <div class="col-md-12" style="padding-left: 5px;">
            <form>
              <div class="form-group row">
                <label class="col-sm-10" for="exampleFormControlSelect1"><b>Loại nhà trọ</b></label>
                <label class="col-sm-2" for="exampleFormControlSelect1"><b >Loại hình</b></label>
                <div class="col-sm-10" style="margin-top: 5px;"><!-- sẽ thay lại là loại nhà trọ-->
                  <select (change)="onChangeType($event)" aria-placeholder="Nhấn để chọn loại nhà trọ" class="form-control form-control-lg" style="color: black;">
                    <option *ngFor='let type of newTypes' [value]="type.id" >{{type.name}}</option>
                </select>
                </div>
                <div class="col-sm-2" style="padding-left: 28px;margin-top: 5px;" >
                <!--<button type="submit" class="btn btn-primary" click="clickbuy()"  style="height:45px;width: 100px;margin-left:-23px;padding: 5px;">Mua bán</button>-->
                <button type="submit" style="height:47px;margin-left: -22px;width: 100%;border-radius: 5px;" (click)="onClickTypeMotelButton()" [class.yellow-background]="isWarning" class="btn btn-primary">Cho thuê</button>
                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-12" for="exampleFormControlSelect1"><b>Tỉnh thành phố</b></label>
                <div  class="col-sm-12" style="margin-top: 5px;" placeholder="Nhập tên thành phố">
                  <select (change)="onChangeCity($event)" class="form-control form-control-lg" style="color: black;">
                      <option *ngFor='let citie of cities' [value]="citie.id" >{{citie.name}}</option>
                  </select>
                </div>
                
              </div>
              <div class="form-group row">
                <label class="col-sm-12" for="exampleFormControlSelect1"><b>Quận/Huyện</b></label>
                <div class="col-sm-12" style="margin-top: 5px ;">
                  <select (change)="onChangeProvince($event)"  class="form-control form-control-lg" style="color: black;">
                    <option *ngFor='let province of provinces' [value]="province.id">{{province.name}}</option>                
                  </select>
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12" for="exampleFormControlSelect1"><b>Phường/Xã</b></label>
                <div class="col-sm-12" style="margin-top: 5px ;">
                  <select (change)="onChangeDistrict($event)"  class="form-control form-control-lg" style="color: black;">
                    <option *ngFor='let district of districts' [value]="district.id">{{district.name}}</option>                
                  </select>
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12" for="exampleFormControlSelect1"><b>Đường/Phố</b></label>
                <div class="col-sm-12" style="margin-top: 5px ;">
                  <select (change)="onChangeStreet($event)"  class="form-control form-control-lg" style="color: black;">
                    <option *ngFor='let street of streets' [value]="street.id">{{street.name}}</option>                
                  </select>
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12" for="exampleFormControlSelect1"><b>Số điện thoại</b></label>
                <div class="col-sm-12" style="margin-top: 5px ;margin-left: 0px;">
                <input type="number" [(ngModel)]="phoneMotel" ngDefaultControl name="PhoneMotel" class="form-control" style="color: black;border-radius: 5px;background-color: white;" placeholder="Nhập số điện thoại" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12" for="exampleFormControlSelect1"><b>Địa chỉ</b></label>
                <div class="col-sm-12" style="margin-top: 5px ;">
                  <input type="email" style="border-radius: 5px;" [(ngModel)]="addressMotel" ngDefaultControl name="AddressMotel" class="form-control" id="exampleFormControlInput2" placeholder="Nhập địa chỉ" #AddressMotel="ngModel">
                  <p *ngIf="AddressMotel?.errors?.required">
                    Xin nhập địa chỉ
                  </p>
                </div>
              </div>
              <div class="form-group row" >
                <button class="btn btn-warning"  href=# aria-hidden="true" style="width: 97.5%;height: 50px;font-size: 20px;border-radius: 5px;margin-top:10px" (click)='next()'>Tiếp tục<i style="margin-left: 20px;font-size: 20px;" class="fa fa-angle-right"></i></button>
              </div>
              </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</div>
