
<h1 style="text-align: center;">Đăng nhập để tiếp tục</h1>
<p style="text-align: center;"> Bằng cách đăng ký tài khoản, bạn có thể theo dõi, trả lời hoặc hỏi bất cứ điều gì mà bạn quan tâm trên Mogi Ask</p>
<button class="btn btn-lg btn-google btn-block text-uppercase font" type="submit" (click)="closeDialog()" style="text-align: center;"> Đăng nhập</button>
<button class="btn btn-lg btn-facebook btn-block text-uppercase font" type="submit" (click)="closeDialog()"  style="text-align: center;">Đăng ký</button>
