
<h1 class="font" style="text-align: center;">HOURS</h1>
<h3 class="font" style="text-align: center;"> Đăng nhập để tiếp tục đăng bài hoặc bình luận</h3>
<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"  style="background-color: #00deb6;color: white;margin-top: 20px;margin-left: 25px;width: 306px;border: none;border-radius: 10px;" (click)="closeDialog()">Đăng nhập</button>
<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"  style="background-color: #00deb6;color: white;margin-top: 20px;margin-left: 25px;width: 306px;border: none;border-radius: 10px;" (click)="closeDialog()">Đăng ký</button>
