<div class="central-meta">
    <span class="create-post">Đăng bài thông báo</span>
    <div class="new-postbox">
        <figure>
            <img class="img1" src="assets/forum/images1/resources/admin.jpg" alt="">
        </figure>
        <div class="newpst-input">
            <form method="post">
                <textarea rows="2" placeholder="Share some what you are thinking?" matInput name="post"  [(ngModel)]="data.postUser" ngDefaultControl></textarea>
            </form>
        </div>
        <div class="attachments">
            <!-- <ul>
                <li>
                    <span class="add-loc">
                        <i class="fa fa-map-marker"></i>
                    </span>
                </li>
                <li>
                    <i class="fa fa-music"></i>
                    <label class="fileContainer">
                        <input type="file">
                    </label>
                </li>
                <li>
                    <i class="fa fa-image"></i>
                    <label class="fileContainer">
                        <input type="file">
                    </label>
                </li>
                <li>
                    <i class="fa fa-video-camera"></i>
                    <label class="fileContainer">
                        <input type="file">
                    </label>
                </li>
                <li>
                    <i class="fa fa-camera"></i>
                    <label class="fileContainer">
                        <input type="file">
                    </label>
                </li>
                
            </ul> -->
            <button class="post-btn" type="submit" data-ripple="" [mat-dialog-close]="data">Post</button>
        </div>
        <!-- <div class="add-location-post">
            <span>Drag map point to selected area</span>
            <div class="row">

                <div class="col-lg-6">
                      <label class="control-label">Lat :</label>
                      <input type="text" class="" id="us3-lat" />
                </div>
                <div class="col-lg-6">
                      <label>Long :</label>
                      <input type="text" class="" id="us3-lon" />
                </div>
            </div>
            
              <div id="us3"></div>
        </div> -->
    </div>	
</div><!-- add post new box -->
