<app-header></app-header>
<div class="form" style="margin-top: 130px;">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="text-align: center;">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" (click) = "clickChange()" role="tab" aria-controls="nav-home" aria-selected="true" style="height: 60px;width:240px;border-bottom: 0px;font-size: 15px;font-weight: bold;padding: 20px;">Đăng nhập</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" (click) = "clickChange()" role="tab" aria-controls="nav-profile" aria-selected="false" style="height: 60px;width:230px;border-bottom: 0px;font-size: 15px;font-weight: bold;padding: 20px;">Đăng ký</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="border: 1px solid #ebedf2;border-top: none;">
      
        <div style="margin-top: 1px;border: 1px solid rgb(240, 240, 240);" >
          <div class="card-body" >
            <form class="form-signin"style="margin-top: -5px;" #formLogin="ngForm" (ngSubmit)="login()">
              <a style="margin: 15px;font-size: 15px;">Số điện thoại</a>
              <div class="form-label-group" style="padding-left: 20px">
                <input  type="text" id="phone" name="phone" minlength="10" [(ngModel)]="phone" ngDefaultControl class="form-control" required autofocus style="color: black;margin-top: 5px;">
                <div [hidden]="showError" >
                  <p *ngIf="formLogin.controls.phone?.errors?.required">Xin nhập số điện thoại</p>
                  <p *ngIf="formLogin.controls.phone?.errors?.minlength">Xin nhập số điện thoại 9 số</p>
                </div>
              </div>
              <a style="margin: 15px;font-size: 15px;" >Mật khẩu</a>
              <div class="form-label-group" style="padding-left: 20px;">
                <input type="password" id="password" name="password"  [(ngModel)]="password"  ngDefaultControl class="form-control" required style="color: black;margin-top: 5px;">
                <p [hidden]="showError" *ngIf="formLogin.controls.password?.errors?.required">
                  Xin nhập mật khẩu
                </p>
              </div>

              <div class="custom-control custom-checkbox mb-3" style="margin-left: 10px;" >
                <input type="checkbox" class="custom-control-input" id="customCheck1" style="margin-top: 5px;">
                <label class="custom-control-label" for="customCheck1"  style="color: black;margin-left: 10px;font-size: 15px;">Nhớ mật khẩu</label>
              </div>
              
              <div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"  style="background-color: #00deb6;color: white;margin-top: 20px;margin-left: 5px;width: 406px;border: none;">Đăng nhập</button>
              </div>
              <p class="divider-text" style="margin-top:20px" >
                <span class="bg-light">HOẶC</span>
            </p>
            <p class="text-center">Bắt đầu với tài khoản miễn phí</p>
            <p >
              <app-sociallogin></app-sociallogin>
            </p>

            </form>
          </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="border: 1px solid #ebedf2;border-top: none;">
      <div>
        <article class="card-body" style="margin-top: 1px;border: 1px solid rgb(240, 240, 240);" >
          <div [hidden]="user" style="margin-top: 10px;" >
            <form class="form-signin" style="margin-top: -15px;"  #formRegister="ngForm" (ngSubmit)="onSubmit()">
              <a style="margin: 15px;font-size: 15px;">Họ và tên</a>
              <div class="form-label-group" style="padding-top: 5px;padding-left: 10px;margin-left: 10px;">
                <input type="text" id="name" class="form-control" required autofocus style="color: black;" name="name" [(ngModel)]="name" ngDefaultControl>
                <p [hidden]="showError" *ngIf="formRegister.controls.name?.errors?.required">
                  Xin nhập họ và tên
                </p>
              </div>
              <a style="margin: 15px;font-size: 15px;">Số điện thoại</a>
              <div class="form-label-group" style="padding-top: 5px;padding-left: 10px;margin-left: 10px;">
                <input type="text" id="phone2" class="form-control" required style="color: black;" [(ngModel)]="phone" name="phone2" ngDefaultControl>
                <p [hidden]="showError" *ngIf="formRegister.controls.phone2?.errors?.required">
                  Xin nhập số điện thoại
                </p>
              </div>
              <a style="margin: 15px;font-size: 15px;">Tạo mật khẩu</a>
              <div class="form-label-group" style="padding-top: 5px;padding-left: 10px;margin-left: 10px;">
                <input type="password" id="password2" class="form-control" required autofocus style="color: black;" [(ngModel)]="password" name="password2" ngDefaultControl>
                <p [hidden]="showError" *ngIf="formRegister.controls.password2?.errors?.required">
                  Xin nhập lại mật khẩu
                </p>
              </div>
              <a style="margin: 15px;font-size: 15px;" >Nhập lại mật khẩu</a>
              <div class="form-label-group" style="padding-top: 5px;padding-left: 10px;margin-left: 10px;">
                <input type="password" id="confirmPassword" class="form-control" required style="color: black;" [(ngModel)]="confirmPassword" name="confirmPassword" ngDefaultControl>
                <p [hidden]="showError" *ngIf="formRegister.controls.confirmPassword?.errors?.required">
                  Xin nhập lại mật khẩu
                </p>
              </div>
        <!--capcha-->
              <div class="form-group" style="padding-top: 0px;">
                <button type="submit" name="button_1" class="btn btn-create" style="width:406px;margin-left:5px;background-color: #00deb6;" > Tạo mật khẩu  </button>
              </div>
              <p class="text-center">Bạn đã có tài khoản <i  href="#nav-home">Đăng nhập</i></p>
            </form>

        </div>
        <div *ngIf="user" >
          <form #formPhone="ngForm" (ngSubmit)="createNewAccount()">
            <div class="container-fluid" id="signup" >
                <hr>
                <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                  <h4 class="card-title mt-3 text-center font" style="font-size: 30px">Tạo mật khẩu</h4>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">

                      </div>
                          <input style="height: 60px;margin-left: 20px;" name="phone_number"  [(ngModel)]="phone_number" ngDefaultControl class="form-control" placeholder="code xac nhan" type="text">
                          <p [hidden]="showError" *ngIf="formPhone.controls.phone_number?.errors?.required">
                            Xin nhập mã xác nhận
                          </p>
                      </div> <!-- form-group// -->
                      <div class="form-group">
                          <button type="submit" name="button_2" class="btn btn-primary btn-block btn-create" > Xác thực  </button>
                      </div> <!-- form-group// -->
                </article>
                </div> <!-- card.// -->
            </div>
          </form>
        </div>
          

        </article>
        </div> <!-- card.// -->

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
  </div>

</div>
<app-footer></app-footer>

