
<div class="font">
  <div class="container" style="margin-top:45px;">
    <div class="row">
      <div class="col-md-9">
        <div style="background-color: rgb(241, 241, 241);">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
            <div class="carousel-inner">
              <div class="carousel-item active" >
                <div class="container-fluid" >
                  <div class="row" >
                    <div class="col-md-12" style="width: 100%;height:450px;margin-left: -20px" ><img src="{{urlImageFirst}}"></div>

                  </div>
                </div>
              </div>
              <div class="carousel-item " *ngFor= "let images of imageMotel">
                <div class="container-fluid" >
                  <div class="row">
                    <div class="col-md-12" style="width: 100%;height:450px;margin-left: -20px" ><img src="{{images.imageMotel}}"></div>
                  </div>
                </div>
              </div>
              <!--<div class="carousel-item">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-md-12" style="width: 100%;height:450px" ><img src="{{motel.images[0].imageMotel}}"></div>
                  </div>
                </div>
              </div>-->
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12 row" style="margin-top: 50px;box-shadow: 10vmin; border-color: rgb(11, 12, 12);border: 1px solid #ebedf0;">
          <a class="col-md-12 " style="margin-top: 20px;">
            <img class="img-profile rounded-circle" src="../../../assets/images/blog_3.jpg" style="height: 50px;width: 50px;margin-left: 50px;">
          </a>
          <div class="col-md-12" style="font-size:15px;margin-top: 20px;text-align: center;">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size: 20px;">{{user}} </span>
            <div>Đã tham gia 1 năm</div>
          </div>
          <div class="col-md-12" style="margin-top: 10px;margin-right: 5px; text-align: center;" >
            <button class="btn" style="text-align: center;color: white;; background-color: #008f3d;width: 100%;margin: 20px 0px 20px 0px;"><span  class="fa fa-phone"></span><span style="color: white;margin-left: 10px;padding-top: 10px;">{{ phone }}</span></button>
            <button class="btn" style="text-align: center;color: black;border: 1px solid #ebedf0;width: 100%;margin: 10px 0px 20px 0px;" (click)=" openDialog()"><span class="fa fa-envelope" style="color: black;margin-right: 10px;color:green;" ></span>Gửi tin nhắn </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="motel">
  <div class="container" >
    <div class="col-md-9">
      <div class="row" style="padding:15px;color: black;padding-bottom: 30px;border-bottom:1px solid #808080;">
        <div class="col-md-12"  >
          <div class="row">
            <div class="col-md-3"><b>ID tin: </b><a style="color: darkturquoise;">1363839</a></div>
            <div class="col-md-3"><b>Loại tin: </b><a style="color: darkturquoise;">{{motel.typemotel}}</a></div>
            <div class="col-md-3">Đăng hai tuần trước</div>
            <div class="col-md-3">Ngày hết hạn: {{motel.dateDue | date}}</div>
            <div class="col-md-6"  style="padding-top:20px">
              <div><b>Diện tích: </b> <span style="margin-left: 10px;">{{motel.areaZone}} {{motel.areaZoneType}}</span></div>
            </div>
            <div class="col-md-6" style="padding-top:20px">
              <div><b>Giá:</b><b style="color: red;margin-left: 10px;">{{motel.price}} {{motel.priceType}}</b></div>
            </div>
            <div class="col-md-6">
              <div ></div>
            </div>
            
            <div class="col-md-12" style="padding-top: 30px;"><a style="color: darkturquoise;">{{motel.title}}</a> - <b>{{motel.address}}</b></div>
            
            <div class="col-md-6" style="padding-top: 20px;"><button  class="btn btn-danger">STREET VIEW</button></div>
            <div class="col-md-6" style="padding-top: 20px;" ><button style="float: right;border:1px solid grey;" class="btn btn-light" >Chia sẻ</button><div style="width:10px"></div> <button style="float: right;border:1px solid grey;margin-right: 10px;"  class="btn btn-light" >Báo xấu</button></div>
          </div>
          <div class="row">
            

          </div>
        </div>
  
      </div>
    </div>
  </div>

  <div class="container" >
    <div class="row" style="padding:15px;margin-top: 35px;">
      <div class="col-md-9" style="padding:10px">
        <p style="font-weight: bold;font-size: 20px;">Mô tả chi tiết</p>
        <div class="col-md-12 row">
          <div type="text" style="width:100%" [innerHTML]="getHTML(motel.description)">
          </div>
        </div>
        <p style="font-weight: bold;font-size: 20px;margin-top: 20px;">Thông tin liên hệ</p>
        <div class="row" style="padding-top: 10px;">
        <div class="col-md-6 row">
          <a class="col-md-3 " >
            <img class="img-profile rounded-circle" src="../../../assets/images/blog_3.jpg" style="height: 50px;width: 50px;">
          </a>
          <div class="col-md-9" style="font-size:15px">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>{{motel.user.hovaTen}} </b> </span>
            <div>Đã tham gia 1 năm</div>
          </div>
        </div>
        <div class="col-md-6" style="margin-left: 20px;margin-top: 5px">
            <button class="btn btn-dark " style="float: right;color: green;background-color: white;margin-right: 20px; "><span  class="fa fa-phone"></span><b style="color: black;margin-left: 10px;padding-top: 10px;">{{motel.phone}}</b></button>
            <button class="btn btn-dark " style="float: right;padding-left: 10px;background-color: white;color: black;margin-right: 10px;" (click)=" openDialog()"><span class="fa fa-envelope" style="color: black;margin-right: 10px;" ></span>Gửi tin nhắn </button>

        </div>
      </div>
      </div>
      
    </div>
  </div>

</div>


<div class="container" >
  <div class="row" style="padding:15px">
    <div class="col-md-9" style="padding: 10px;">
      <div class="col-md-12 row">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Ho%20Chi%20Minh%20City+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://embedmaps.net'></a> <script type='text/javascript' src='https://maps-generator.com/google-maps-authorization/script.js?id=dbed74534fca59a6c3ee7c80b657ad108b84a339'></script>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid body" style="padding-top: 60px;">
  <div class="row">
    <div class="col-md-12">
      <h2 class="font">Các nhà trọ <b>{{provincename}}</b></h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="row">
        <ng-container  *ngFor= 'let motel of motelrecommendation; let i=index' >
          <div class="col-md-3">
            <div  *ngIf="i < 4 && i >=0">
                <div class="thumb-wrapper" >
              <div class="img-box1">
                <img [src]="motel.images[0].imageMotel" (click)="linkRouter(motel.title, motel.id)" class="img-fluid" alt="" style="height: 200px;width: 220px;">
              </div>
              <br>
              <P style="font-size: 20px;color: darkblue;font-weight: bold;">{{motel.price}} {{motel.priceType}}</P>
              <p (click)="linkRouter(motel.title, motel.id)" >{{motel.title}}</p>
                </div>
              </div>
            </div>
        </ng-container>
      </div>
      </div>
      <div class="carousel-item" >
        <div class="row">
          <ng-container  *ngFor= 'let motel of motelrecommendation; let i=index' >
            <div class="col-md-3">
              <div  *ngIf="i < 8 && i >=4">
                  <div class="thumb-wrapper" >
                <div class="img-box1">
                  <img [src]="motel.images[0].imageMotel" (click)="linkRouter(motel.title, motel.id)" class="img-fluid" alt="" style="height: 200px;width: 220px;">
                </div>
                <br>
                <P style="font-size: 20px;color: darkblue;font-weight: bold;">{{motel.price}} {{motel.priceType}}</P>
                <p (click)="linkRouter(motel.title, motelnew.id)" >{{motel.title}}</p>
                  </div>
                </div>
              </div>
          </ng-container>
        </div>
      </div>


    </div>
      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" style="margin-left: -20px;">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next"style="margin-right: -20px;">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    </div>
  </div>
</div>
</div>

