p.chu {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp:2;
    height: 40px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    color: #3c4146;
    margin-top: 8px;
    padding: 0 9px;
    margin-bottom: 15px;
  }