<div class="col-md-12">
    <div class="row" style="text-align: center;">
        <div class="col-md-12" >
          <div style="margin-top:20px;padding: 5px;">Họ và tên</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="margin-top:20px;padding: 5px;">Giới tính</div>
          <div style="height: 30px;padding: 5px;">
            <div >
                <a class="dropdown-item">Nam</a>
                <a class="dropdown-item">Nam</a>
                <a class="dropdown-item">Nữ</a>
            </div>
          </div>
          <div style="margin-top:20px;padding: 5px;">Ngày sinh</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="margin-top:20px;padding: 5px;">Địa chỉ</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="margin-top:20px;padding: 5px;">Username</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="margin-top:20px;padding: 5px;">Password</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <button style="margin-top: 20px;" class="btn btn-warning"  type="button" >Lưu thông tin</button>
        </div>

    </div>
</div>
