<div class="col-md-12">
  <div style="text-align: center;">THÊM NHÂN VIÊN</div>
    <div class="row">
        <div class="col-md-4" >
          <div style="margin-top:20px;padding: 5px;">Họ và tên</div>         
          <div style="margin-top:20px;padding: 5px;">Giới tính</div>          
          <div style="margin-top:20px;padding: 5px;">Ngày sinh</div>        
          <div style="margin-top:20px;padding: 5px;">Địa chỉ</div>         
          <div style="margin-top:20px;padding: 5px;">Username</div>  
          <div style="margin-top:20px;padding: 5px;">Password</div>
        </div>
        <div class="col-md-8" >
          <div style="height: 30px;padding: 5px;margin-top:18px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div class="dropdown" style="height: 30px;padding: 5px;margin-top:18px;">
            <a *ngIf="genderShow else elseDefferentGender" class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">{{genderShow}}<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a>
            <ng-template #elseDefferentGender><a class="font" style="color:white;text-decoration: none;width: 220px;margin-bottom: 10px;" data-toggle="dropdown">Giới tính<span class="fa fa-angle-down" style="color:#00deb6; font-size: 20px;margin: 0px 0px 0px 10px;"></span> </a></ng-template>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div *ngFor="let gender of genders" >
                <a class="dropdown-item" (click)="onClickGender(gender)"  [value]="gender.id">{{gender.text}}</a>
              </div>
            </div>
          </div>

          <div style="height: 30px;padding: 5px;margin-top:18px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="height: 30px;padding: 5px;margin-top:18px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="height: 30px;padding: 5px;margin-top:18px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
          <div style="height: 30px;padding: 5px;margin-top:18px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"  >
          </div>
        </div>
    </div>
    <div style="text-align: center;"><button style="margin-top: 20px;" class="btn btn-warning"  type="button" >Lưu thông tin</button></div>
</div>
