<div class="row" *ngIf="employee" style="border: 1px solid black;padding: 30px;">
        <div class="col-md-5" style="text-align:center; margin-top: 20px;">

          <img *ngIf="checkImage"  src="{{employee.employeeImage}}" alt="profile" style="width:180px;height:180px;text-align: center;margin-top: 60px;">
          <img *ngIf="!checkImage"  src="../../../assets/images/blog_3.jpg" alt="profile" style="width:180px;height:180px;text-align: center;margin-top: 60px;">

        </div>
        <div class="col-md-7" >
          <div style="margin:10px">Họ và tên</div>
          <div style="margin: 5px;height: 30px;padding: 5px;width:400px;margin-bottom:20px">
            <input  [(ngModel)]="employee.hovaTen" ngDefaultControl style="width:100%;padding: 5px;margin-left: -10px;border:1px solid black;border-radius:5px"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin:10px;">Số điện thoại</div>
             <div style="margin: 5px;height: 30px;padding: 5px;width:400px;margin-bottom:20px">
            <input [(ngModel)]="employee.phone" ngDefaultControl style="width:100%;padding: 5px;margin-left: -10px;border:1px solid black;border-radius:5px"><span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin:10px">Email</div>
             <div style="margin: 5px;height: 30px;padding: 5px;width:400px;margin-bottom:20px">
            <input [(ngModel)]="employee.email" ngDefaultControl style="width:100%;padding: 5px;margin-left: -10px;border:1px solid black;border-radius:5px"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin:10px">Địa chỉ 1</div>
             <div style="margin: 5px;height: 30px;padding: 5px;width:400px;margin-bottom:20px">
            <input [(ngModel)]="employee.addressOne" ngDefaultControl style="width:100%;padding: 5px;margin-left: -10px;border:1px solid black;border-radius:5px"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin:10px">Địa chỉ 2</div>
             <div style="margin: 5px;height: 30px;padding: 5px;width:400px;margin-bottom:20px">
            <input [(ngModel)]="employee.addressTwo" ngDefaultControl style="width:100%;padding: 5px;margin-left: -10px;border:1px solid black;border-radius:5px"> <span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
          <div  style="margin:10px">Mật khẩu</div>
             <div style="margin: 5px;height: 30px;padding: 5px;width:400px;margin-bottom:20px">
            <input [(ngModel)]="employee.account.password" ngDefaultControl style="width:100%;padding: 5px;margin-left: -10px;border:1px solid black;border-radius:5px"><span style="float: right;"><a><img class="exeO06P9Kb3k23VUTAr9H"  height="20"></a></span>
          </div>
        </div>
        <div class="col-md-12" style="text-align: center; margin-top: 30px;">
        <button class="btn btn-warning" style="width:260px" type="submit" (click)="onSubmit(employee)" >Lưu thông tin</button></div>
</div>

