
<div class="super_container" style="color: black;">
  <div class="container-fluid" style="height: 50px;background-color: #C0C0C0;">
    <div style="padding-top:15px;"><span style="margin-left: 10px;">Motel <div class="fa  fa-chevron-right" style="margin-right: 15px;"></div> <b style="margin-right: 10px;">Trang đang tin</b><div class="fa  fa-chevron-right"style="margin-right: 15px;"></div><b>Danh mục</b></span></div>
  </div>
  <div class="container-fluid"  style=" margin-top: 40px;color: black;padding:5px ;">
    <div class="col-md-2" style="height: 4px; background-color: green;"></div>
    <br>
    <div class="font" style="text-align: center;"><h2 class="font"  ><b class="font"  >DANH MỤC LOẠI NHÀ TRỌ</b></h2></div>
    <div class="col-md-10"></div>
    <div style="margin-top: 30px;text-align: center;" >
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="padding-top:20px;"  *ngFor='let type of newTypes'>
      <button type="button" class="btn btn-light" (click)="next(type)"  style="font-size: 23px;width:900px;height:50px;text-align:left;border:1px solid gray;border-top-right-radius: 4px;border-top-left-radius: 4px;" [value]="type.id">{{type.name}}<span style="float: right;" class="fa  fa-chevron-right"></span></button>
    </div>
  </div>

</div>

