<div class="content-wrapper">
  <div>
    <h3 class="page-title"> Quản lý dịch vụ </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Quản lý</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản lý dịch vụ</li>
      </ol>
    </nav>
  </div>

  <table  style="width:100%;border: 1px solid black;border-collapse: collapse;margin-top: 30px;">
    <thead>
      <th></th>
      <td style="font-weight: bold;color: red;">Giá ngày</td>
      <td style="font-weight: bold;color: red;">Giá tuần </td>
      <td style="font-weight: bold;color: red;">Giá tháng </td>
      <td style="font-weight: bold;color: red;">Giá UP TOP </td>
      <td style="font-weight: bold;color: red;">Tối thiểu </td>
      <td style="font-weight: bold;color: red;">Thay đổi</td>
  
    </thead>
    <tr  *ngFor= 'let serviceprice of servicePrice; let i=index'>
      <th style="font-weight: bold;">{{serviceprice.typeofnew}}</th>
      <td *ngIf="serviceprice.id === editRowID"><input style="width:120px;border-style: none;" type="text" (change)="updatePriceDate($event, serviceprice.priceDate)" [(ngModel)]="serviceprice.priceDate" ngDefaultControl></td>
      <td  *ngIf="serviceprice.id !== editRowID" (click)="edit(serviceprice.id)">{{serviceprice.priceDate}}</td>
  
      <td *ngIf="serviceprice.id === editRowID"><input style="width:120px;border-style: none;" type="text" (change)="updatePriceWeek($event, serviceprice.priceWeek)" [(ngModel)]="serviceprice.priceWeek" ngDefaultControl></td>
      <td  *ngIf="serviceprice.id !== editRowID" (click)="edit(serviceprice.id)">{{serviceprice.priceWeek}}</td>
  
      <td *ngIf="serviceprice.id === editRowID"><input style="width:120px;border-style: none;" type="text" (change)="updatePriceMonth($event, serviceprice.priceMonth)" [(ngModel)]="serviceprice.priceMonth" ngDefaultControl></td>
      <td  *ngIf="serviceprice.id !== editRowID" (click)="edit(serviceprice.id)">{{serviceprice.priceMonth}}</td>
  
      <td *ngIf="serviceprice.id === editRowID"><input style="width:120px;border-style: none;" type="text" (change)="updatePriceUpTop($event, serviceprice.priceUpTop)" [(ngModel)]="serviceprice.priceUpTop" ngDefaultControl></td>
      <td  *ngIf="serviceprice.id !== editRowID" (click)="edit(serviceprice.id)">{{serviceprice.priceUpTop}}</td>
  
      <td *ngIf="serviceprice.id === editRowID"><input style="width:120px;border-style: none;" type="text" (change)="updateDate($event, serviceprice.date)" [(ngModel)]="serviceprice.date" ngDefaultControl></td>
      <td  *ngIf="serviceprice.id !== editRowID"  (click)="edit(serviceprice.id)" >{{serviceprice.date}}</td>
  
      <td *ngIf="serviceprice.id === editRowID"><button class="btn btn-light" style="width:100%" (click)="saveData(serviceprice.id)">Sửa</button></td>
      <td  *ngIf="serviceprice.id !== editRowID" (click)="edit(serviceprice)">Thay đổi </td>
    </tr>
  </table>
</div>
<!-- <div class="container-fluid">

</div> -->
