<div class="central-meta">
    <span class="create-post" *ngIf="!check">Đăng bài thông báo</span>
    <span class="create-post" *ngIf="check">Sửa bài thông báo</span>
    <div class="new-postbox">
        <figure>
            <img class="img1" [src]="image" alt="" style="width:50px;height:40px">
        </figure>
        <div class="newpst-input">
            <form method="post">
                <textarea class="font" rows="2" placeholder="Câu hỏi bạn muốn hỏi..." matInput name="post"  [(ngModel)]="data" ngDefaultControl style="height: 150px; " ></textarea>
            </form>
        </div>
        <div class="attachments" *ngIf="!check">
            <button class="post-btn" type="submit" data-ripple="" [mat-dialog-close]="data">Đăng bài</button>
        </div>
        <div class="attachments" *ngIf="check">
            <button class="post-btn" type="submit" data-ripple="" [mat-dialog-close]="data">Sửa bài đăng</button>
        </div>
    </div>
</div>
