<body>
  <div style="background-color:floralwhite;">
        <div class="container">
          <div class="row" style="padding-top: 30px;">
        <div class="col-md-3">
        <ul>
          <li ><b>Bất động sản TPHCM</b></li>
          <li >Mua bán nhà đất TPHCM</li>
          <li>Bán nhà quận 7</li>
          <li>Căn hộ quận 7</li>
          <li>Bán đất quận 9</li>
          <li>Phòng trọ quận 10</li>
          <li>Cho thuê nhà quận 8</li>
        </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><b>Bất động sản TPHCM</b></li>
            <li>Mua bán nhà đất TPHCM</li>
            <li>Bán nhà quận 7</li>
            <li>Căn hộ quận 7</li>
            <li>Bán đất quận 9</li>
            <li>Phòng trọ quận 10</li>
            <li>Cho thuê nhà quận 8</li>
          </ul></div>
        <div class="col-md-3" >
          <ul>
            <li><b>Bất động sản TPHCM</b></li>
            <li>Mua bán nhà đất TPHCM</li>
            <li>Bán nhà quận 7</li>
            <li>Căn hộ quận 7</li>
            <li>Bán đất quận 9</li>
            <li>Phòng trọ quận 10</li>
            <li>Cho thuê nhà quận 8</li>
          </ul></div>
        <div class="col-md-3">
          <ul>
            <li><b>Bất động sản TPHCM</b></li>
            <li>Mua bán nhà đất TPHCM</li>
            <li>Bán nhà quận 7</li>
            <li>Căn hộ quận 7</li>
            <li>Bán đất quận 9</li>
            <li>Phòng trọ quận 10</li>
            <li>Cho thuê nhà quận 8</li>
          </ul></div>
        </div>
      <br>
      <div class="row" style="padding-top:30px">
        <div class="col-md-3">
        <ul>
          <li><b>Bất động sản TPHCM</b></li>
          <li>Mua bán nhà đất TPHCM</li>
          <li>Bán nhà quận 7</li>
          <li>Căn hộ quận 7</li>
          <li>Bán đất quận 9</li>
          <li>Phòng trọ quận 10</li>
          <li>Cho thuê nhà quận 8</li>
        </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><b>Bất động sản TPHCM</b></li>
            <li>Mua bán nhà đất TPHCM</li>
            <li>Bán nhà quận 7</li>
            <li>Căn hộ quận 7</li>
            <li>Bán đất quận 9</li>
            <li>Phòng trọ quận 10</li>
            <li>Cho thuê nhà quận 8</li>
          </ul></div>
        <div class="col-md-3">
          <ul>
            <li><b>Bất động sản TPHCM</b></li>
            <li>Mua bán nhà đất TPHCM</li>
            <li>Bán nhà quận 7</li>
            <li>Căn hộ quận 7</li>
            <li>Bán đất quận 9</li>
            <li>Phòng trọ quận 10</li>
            <li>Cho thuê nhà quận 8</li>
          </ul></div>
        <div class="col-md-3" >
          <ul>
            <li><b>Liên hệ</b></li>
            <li>Số điện thoại : <span style="color: darkturquoise;">0988785439</span></li>
            <li>Email : Chumo@gmail.com</li>
            <li>
              <img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 50px;padding: 5px;">
              <img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 50px;padding: 5px;">
              <img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 50px;padding: 5px;"></li>
            <li><b>Chứng nhận</b></li>
            <li><img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 150px;"></li>
          </ul></div>
      </div>
      </div>
  </div>
</body>
