<div class="col-md-12">
    <div class="row" style="text-align: center;">
        <div class="col-md-12" >
          <div style="margin-top:20px;padding: 5px;">Mật khẩu cũ</div>
          <div style="height: 30px;padding: 5px;">
            <input style="width: 100%;padding: 5px;border: 1px solid black;"   matInput  name="password" [(ngModel)]="data.account.password" ngDefaultControl readonly>
          </div>
          <div style="margin-top:20px;padding: 5px;">Mật khẩu mới</div>
          <div style="height: 30px;padding: 5px;">
            <input  matInput  name="passwordNew" [(ngModel)]="passwordNew" ngDefaultControl style="width: 100%;padding: 5px;border: 1px solid black;" >
          </div>
          <button style="margin-top: 20px;" class="btn btn-warning" (click)="onChangePassword()" [mat-dialog-close]="data" type="button" >Cập nhật thông tin</button>
        </div>

    </div>
</div>
