<div class="content-wrapper container"  >
  <div>
    <h3 class="page-title" style=" float:right;margin-top: 10px;" > Quản lý nhân viên</h3>
    <nav aria-label="breadcrumb" style=" float:left" >
      <ol class="breadcrumb" style="border: none;">
        <li class="breadcrumb-item"><a>Quản lý</a></li>
        
        <li class="breadcrumb-item active" aria-current="page">Quản lý nhân viên</li>
      </ol>
    </nav>
    
  </div>
  

    <div style="text-align: center;margin-top: 80px;font-size: 25x;"> Quản lý nhân viên</div>
    <button type="button" style="width:150px;height: 40px;border: none;float: right;padding: 0px;margin-top: -30px;" (click)="openDialog()">Thêm nhân viên</button>
      <table  style="width:100%;border: 1px solid black;border-collapse: collapse;margin-top: 30px;">
        <thead>
          <td style="font-weight: bold;color: red;">Tên</td>
          <td style="font-weight: bold;color: red;">Số điện thoại</td>
          <td style="font-weight: bold;color: red;">Email </td>
          <td style="font-weight: bold;color: red;">Chức vụ</td>
          <td style="font-weight: bold;color: red;">Địa chỉ</td>
          <td style="font-weight: bold;color: red;">Sửa</td>
      
        </thead>
        <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 5, currentPage: page }">
          <th style="font-weight: bold;">{{employee.hovaTen}}</th>
          <td>{{employee.account.phone}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.account.role.roleName}}</td>
          <td>{{employee.addressOne}}</td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-info btn-sm" (click)="onselecte(employee)">
                <i class="fa fa-edit"></i>
              </button>
          </td>
        </tr>
      </table>
</div>

<pagination-controls (pageChange)="page = $event" style="text-align: center;"></pagination-controls>


<div class="container" style="width:800px">
  <app-employee-detail [employee] = "selectEmployee"></app-employee-detail>
</div>


<!-- <div class="container-fluid" style="margin-top: 20px;">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800 font" style="margin-left: 35px;font-weight: bold;">QUẢN LÝ NHÂN VIÊN </h1>
    </div> 
    <div class="row">

      <div class="col-md-9"><app-employee-detail [employee] = "selectEmployee"></app-employee-detail></div>
      <div class="col-md-3">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile" *ngFor="let employee of employees; let i=index">
              <a class="nav-link" (click)="onselecte(employee)">
                <div class="nav-profile-image">
                  <img *ngIf="checkImage[i]" src="{{currentAccount.employee.employeeImage}}" alt="profile">
                  <img *ngIf="!checkImage[i]" src="../../../assets/images/blog_3.jpg" alt="profile">
                  <span class="login-status online"></span>
                 
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">{{employee.hovaTen}}</span>
                  <span class="text-secondary text-small">{{employee.account.role.roleName}}</span>
                </div>
                <i *ngIf="!employee.account.isHD" class="mdi mdi-bookmark-check text-warning nav-profile-badge"></i>
                <i *ngIf="employee.account.isHD" class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>


 


    </div>
</div> -->
