<body>
  <div style="background-color:floralwhite;">
      <div class="container">
          <div class="row" style="padding-top: 30px;">
          </div>
          <br>
          <div class="row" style="padding-top:30px">
            <div class="col-md-3">
            <ul>
              <li><b>Phòng trọ nhà trọ TPHCM</b></li>
              <li>Cho thuê nhà trọ TPHCM</li>
              <li>Tìm người ở ghép TPHCM</li>
              <li>Cho thuê căn hộ TPHCM</li>
              <li>Cho thuê mặt bằng TPHCM</li>
            </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><b>Phòng trọ nhà trọ Hà Nội</b></li>
                <li>Cho thuê nhà trọ Hà Nội</li>
                <li>Tìm người ở ghép Hà Nội</li>
                <li>Cho thuê căn hộ Hà Nội</li>
                <li>Cho thuê mặt bằng Hà Nội</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><b>Phòng trọ nhà trọ Đà Nẵng</b></li>
                <li>Cho thuê nhà trọ Đà Nẵng</li>
                <li>Tìm người ở ghép Đà Nẵng</li>
                <li>Cho thuê căn hộ Đà Nẵng</li>
                <li>Cho thuê mặt bằng Đà Nẵng</li>
              </ul>
            </div>
            <div class="col-md-3" >
              <ul>
                <li><b>Liên hệ</b></li>
                <li>Số điện thoại : <span style="color: darkturquoise;">0988785439</span></li>
                <li>Email : Chumo@gmail.com</li>
                <li>
                  <img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 50px;padding: 5px;">
                  <img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 50px;padding: 5px;">
                  <img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 50px;padding: 5px;"></li>
                <li><b>Chứng nhận</b></li>
                <li><img src="../../../assets/images/about_background.jpg" style="height: 50px; width: 150px;"></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</body>
