.example::-webkit-scrollbar {
  display: none;
}
body * {
  box-sizing: border-box;
}
.search-bar-tab {
  width: 176px;
  float: left;
}
.search-bar .search-bar-suggestion {
  float: left;
  position: relative;
}
.search-bar .select-cate {
  border-left: 1px solid #ebedf0;
}
.search-bar .search-bar-tab {
  width: 176px;
  float: left;
}
.search-bar .select-control {
  float: left;
  position: relative;
  width: 160px;
  border-right: 1px solid #ebedf0;
  cursor: pointer;
}
.search-bar .custom-value {
  line-height: 20px;
  color: #2c2f36;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropbox-label1 {
  
  margin-bottom: 5px;
  font-size: 11px;
  line-height: 16px;
  height: 16px;
  letter-spacing: .16px;
  color: #2c2f36;
  /* padding-right: 20px; */
  padding-bottom: 4px;
  cursor: pointer;
  display: inline-block;
}
.search-bar-ngang {
  background: #fff;
  position: relative;
}
.search-bar .search-bar-tab li {
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 40px;
  padding: 10px;
  color: #2c2f36;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.mar-right-16 {
  margin-right: 16px;
}
.pad-top-8 {
  padding-top: 8px;
}
.mar-left-16 {
  margin-left: 16px;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.search-bar {
  border: 1px solid #ccd3d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 35px 10px 48px;
  width: 280px;
  height: 40px;
  background: #fff no-repeat url(../../../assets/images/search.png) 16px center;
  font-weight: normal;
}

.card-dimensions {
  height: 162px;
  width: 23%;
}

.card {
  font-family: sans-serif;
  font-size: 18px;
  background: #D2D2D2;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-container {
  justify-content: start;
}

.icon-pos {
  position: absolute;
  top: 25px;
}

.search-bar {
  min-width: 348px;
  text-indent: 10px !important;
  box-sizing: border-box;
}
 .custom-value.hasvalue {
  color: #004e7f;
  font-weight: bold;
}
.search-bar .custom-value {
  line-height: 20px;
  color: #2c2f36;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-drop-down {
  position: absolute;
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  background-color: #F6F6F6;
  font-family: sans-serif;
  opacity: 0.98;
}

.search-results {
  padding: 10px;
}

.search-results:hover {
  background: #707070;
}

.color-purple {
  color: #A550BC;
}



.combobox {
  
  margin: auto;
}

.combobox-input {

  width: 330px;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid rgb(165, 112, 112);
}

.combobox-input:focus{

  outline-style: none;
}

.combobox-options {

  position: absolute;
  text-align: center;
  background-color: white;
  width: 350px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 2px 2px #ccc;
  z-index: 1;
}

.selected {

  color: cornsilk;
  background-color: rgb(165, 112, 112);
}

list-item{

  display: block;
  font-size: 18px;
  padding: 10px;
}

list-item:hover{

  background-color: grey;
  color: white;
}

.error-text{

  color: rgb(165, 112, 112);
}

.error{
  border: 1px solid red;
}