<div class="content-wrapper"style="margin-top:-50px">

  <div>
    <h3 class="page-title font" style=" float:right;margin-top: 10px;margin-bottom: 20px;" > Quản lý vi phạm</h3>
    <nav aria-label="breadcrumb" style=" float:left" >
      <ol class="breadcrumb" style="border: none;">
        <li class="breadcrumb-item"><a>Quản lý</a></li>
        <li class="breadcrumb-item active font" aria-current="page">Quản lý vi phạm</li>
      </ol>
    </nav>
  </div>
    <div class="container"  style="color: black;margin-left: -10px;">
      <br>  
      <div class="col-md-12" style="padding-top: 0px;">
        <table class="table table-bordered" >
          <thead style="background-color:darkblue;color: white;">
            <tr>
              <th scope="col" class="font" style="color: white;width: 200px;text-align: center;">Bài đăng</th>
              <th scope="col" class="font" style="color: white;text-align: center;">Người đăng</th>
              <th scope="col" class="font" style="color: white;text-align: center;">Ngày đăng</th>
              <th scope="col" class="font" style="color: white;text-align: center;">Vi phạm</th>
              <th scope="col" class="font" style="color: white;text-align: center;">Ngoài ra</th>
              <th scope="col" class="font" style="color: white;text-align: center;">Ẩn bài</th>
            </tr>
          </thead>
          <tbody style="color: black;margin-left: 40px;">
            <tr *ngFor="let report of reports | paginate: { itemsPerPage: 10, currentPage: page }">
                <td><textarea class="font" style="height: 100px;width:430px;border:none">{{report.postUser}}</textarea></td>
                <td><div style=" margin-top: -30px;">{{report.hovaTen}}</div></td>
                <td><div style=" margin-top: -30px;">{{report.createDate | date}}</div></td>
                <td><div style="height: 50px;margin-top: -10px;">{{report.report}}</div></td>
                <td><div style="height: 50px;width:200px;border:none;margin-top: -10px"><div>{{report.write}}</div></div></td>
                <td style="text-align: center;">
                    <button *ngIf="!report.hiddenOrNotHidden" style="margin-top: -30px;" type="button" class="btn btn-info btn-sm" (click)="hiddenPost(report.idPost)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button *ngIf="report.hiddenOrNotHidden" style="margin-top: -30px;" type="button" class="btn btn-info btn-sm" disabled>
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
          </tbody>
        </table>
      <div style="margin-left:360px;margin-top: 20px;">
        <pagination-controls (pageChange)="page = $event" ></pagination-controls>
      </div>
      </div>
  
    </div>
  </div> 
